/* 
    Document   : page_posttest_report
    Created on : Jul 9, 2013, 1:01:28 PM
    Author     : Arin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container{
    width: 900px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-right: thin solid rgb(199, 199, 199);
    border-left: thin solid rgb(199, 199, 199);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: medium thin;
    border-style: none solid;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
/*    background-image: url(../images/background/3681675-932486-blue-frame.jpg);*/
/*    height: 1130px;*/
/*    background-color: #00d0f2 ;*/
     border-left-style: dashed;
    border-right-style: dashed;
}

.acces{
     background-color: #00d0f2;
    line-height: 30px;
}

.menu{
    width: 900px;
    float: left;
    background-color: #00d0f2 ;
    font-size: 9px;
}

.content{
   width:  900px;
   background-color: white;
/*   height: 900px;*/
}

.report{
    width: 330px;
/*    height: 750px;*/
/*    background-color: black;*/
    margin-left: 30px;     
    margin-top: 10px;
    margin-bottom: 70px;
    margin-right: 50px;
    float: left;
}

#title1{
     width: 900px;
    margin-top: 80px; 
/*    margin-left: 10px;*/
    text-align: center; 
    text-shadow: 5px 5px 5px #FF0000;
/*      background-color: bisque;*/
      float: top;
      height: 55px;
/*      margin-left: 20px;      */
      font-size: 36px;
}

.guideAngel{
    float: left;
    margin-top: 50px;
    width: 480px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 70px;
/*    background-color: yellow;*/
}

#angelFace{ 
/*    margin-top: 20px;*/
    float: left;
    height: 150px;
/*    background-color: bisque; */
    width: 120px;
    background-image: url(../images/icon/prof1.png);
}

#angleGuidance{
/*    margin-top: 50px;*/
    width: 340;
    height: 100px;
/*    background-color: red; */
    font-family: monospace;
    font-size: 16px;
    margin-left: 140px;
}
#guidence{
    text-decoration: blink;
    font-size: 20px;
}

.page{
    width: 850px;
    height: 30px;
/*    background-color: palevioletred;*/
/*    margin-top: 800px;*/
    margin-left: 25px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.demo{
    width: 900px;
    margin-bottom: 30px;
    margin-left: 30px;
}


