/* 
    Document   : page_lesson
    Created on : Jul 9, 2013, 1:01:28 PM
    Author     : Arin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container{
    width: 900px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-right: thin solid rgb(199, 199, 199);
    border-left: thin solid rgb(199, 199, 199);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: medium thin;
    border-style: none solid;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
/*    background-image: url(../images/background/3681675-932486-blue-frame.jpg);*/
/*    height: 1600px;*/
/*    background-color: aqua;*/
/*    border-bottom-style: dashed;*/
    border-left-style: dashed;
    border-right-style: dashed;
}

#acces{
    background-color: #00d0f2;
    line-height: 30px;
}

.menu{
    width: 900px;
    float: left;
    background-color: #00d0f2 ;
    font-size: 9px;
/*    margin-bottom: 20px; */
}

.content{
   width: 900px;
   background-color: white;
/*   height: 1435px;*/
/*   background-color: bisque;  */
/*    border-bottom-style: dashed;*/
}

.content_left{
   float: left;
   width: 290px;
/*   background-color: greenyellow;*/
/*    height: 1395px;*/
/*    border-right-style: dashed;*/
}

.content_right{
   float: right;
   width: 580px;
/*   background-color: #B8F5B1;*/
/*    height: 1375px;*/
   padding: 10px;
   text-align: justify;
    font-size: 18px;
    border-left-style: dashed;
}

.material{
     margin-top: 30px;
/*        background-color: greenyellow;*/
     margin-bottom: 100px; 
}

.matList{
   margin-top: 30px;
   width: 283px;
/*   background-color: greenyellow;*/
/*   height: 350px;*/
   margin-bottom: 50px; 
}

.result{
   width: 293px;
/*   background-color: greenyellow;*/
   height: 180px;
   position: relative;
   border-top-style: dashed;
   
}

.result ul{
    list-style: none;
}

.tittle{
/*    background-color: yellow;*/
    width: 235px;
    height:30px;
/*    background-color: red;*/
    font-family: 'Times New Roman',Times,serif;
/*    margin-left: 15px;*/
    margin-top: 20px;
    font-size: 17px;
}

.matList ul li{
    list-style-image: url(../images/icon/star.png);
    margin-left: 10px;
}
.matList ul li ul li{
    list-style-image: url(../images/icon/open.png);
    width: 185px;
}

.Quote1{ 
    border-top-style: dashed; 
    height: 150px;
    width: 293px;
}

.Quote2{
    border-top-style: dashed; 
    height: 150px;
     width: 293px;
     border-bottom-style: dashed;
}

.Quote3{
    border-top-style: dashed; 
    height: 150px;
     width: 293px;
}

.Quotes{
    height: 90px;
    margin-top: 20px;
    font-size: 15px;   
    font-family: Geneva,Arial,Helvetica,sans-serif;
    margin-right: 10px;
}

.Quotewriter{
    height: 10px;
    font-family: 'Courier New',Courier,monospace;   
    font-size: 17px;
    text-align: center;
}

